html, body{
    background: #fffff8;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    font-size: 1em;
}

#app{
    display: grid;
    grid-template-rows: 0.7fr 25vh 2fr 10vh 2fr;
    /* grid-template-columns:  */
    grid-template-columns: 1fr;
    // height:100vh;
    //background: #f23557;
    background: #EDF2F1;
    color: rgb(93,50,14);
    justify-content: center;
    //grid-gap: 1em;
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
    grid-template-areas: 
   "hd"
   "img"
   "main"
   "btn"
   "ft";
}

.headline {
    grid-area: hd;
    //display: grid;
    //grid-auto-rows: minmax(25px);
    /* grid-template-columns:  */
    //grid-template-columns: 100%;
    height:0.7fr;
    width: 90vw; 
    background: #00695c;
    justify-content: center;
    grid-gap: 1em;
    font-size: 1.5em;
    padding-top: 0.1em;
    padding-bottom: 0.1em;
    margin: 0.5em;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    //line-height: 5vh; // Aligning text vertically centered
}

#image{
    grid-area: img;
    //display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0.5em;
    width: 90vw;
    height: 25vh;
}

.holder{
    grid-area: main;
    justify-content: center;
    padding: 0.5em;
    height: 2fr;
}

button{
    grid-area: btn;
    width: 50vw;
    height: 10vh;
    background: #3b4a6b;
    color: #f0d43a;
    font-size: 1.3em;
    font-family: 'Oswald', sans-serif;
    border: none;
    box-shadow: 2px 4px 5px #444;
    border-radius: 0.8em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    padding-bottom: 0.5em;
}

button:hover{
    background-color: rgb(104,114,130);
    transition: ease 0.3s all;
}

.entry{
    grid-area: ft;
    background: rgba(59, 74, 107, .4);
    margin-bottom: 0.5em;
    height: 2fr;
    margin-top: 1.5em;
    padding: 0.5em;
    margin-left: 0.5em;
    margin-right: 0.5em;
}

/*  Basic Styling To Override Default For Basic HTML Elements */
label{
    display:block;
    font-size: 1.3em;
    margin-left: 0.5em;
}

input{
    display:block;
    width: 70vw;
    height: 5vh;
    background: rgb(67,153,138);
    color: black;
    opacity: 0.7;
    font-size: 1em;
    font-family: 'Oswald', sans-serif;
    border: none;
    padding-left: 0.5em;
    margin-left: 0.5em;
}

input:hover{
    background-color: rgb(104,114,130);
    transition: ease 0.3s all;
    opacity: 0.6;
}

h1{
    font-size: 1.5em;
}

textarea{
    background:#22b2da;
    color: black;
    font-size: 0.8em;
    font-family: 'Oswald', sans-serif;
}

/* Reset style for HTML element on active to have no border*/
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
/* Style for Placeholder Text*/
::placeholder { /* Firefox, Chrome, Opera */ 
    color: black; 
    font-family: 'Oswald', sans-serif;
} 
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */ 
    color: black; 
    font-family: 'Oswald', sans-serif;

} 
  
::-ms-input-placeholder { /* Microsoft Edge */ 
    color: black; 
    font-family: 'Oswald', sans-serif;

} 

#fancyFont {
    font-family: 'Edwardian Script ITC', 'Brush Script MT', 'Lucida Handwriting', 'Zapf Chancery', sans-serif;
    color: white;
    font-size: 3em;
}

@media(min-width:700px){
    #app{
        display: grid;
        grid-template-rows: 0.7fr 35vh 2fr 10vh 2fr;
        /* grid-template-columns:  */
        grid-template-columns: 1fr;
        // height:100vh;
        //background: #f23557;
        background: #EDF2F1;
        color: rgb(93,50,14);
        justify-content: center;
        //grid-gap: 1em;
        font-size: 1em;
        font-family: Arial, Helvetica, sans-serif;
        grid-template-areas: 
       "hd"
       "img"
       "main"
       "btn"
       "ft";
    }
    
    .headline {
        grid-area: hd;
        //display: grid;
        //grid-auto-rows: minmax(25px);
        /* grid-template-columns:  */
        //grid-template-columns: 100%;
        height:0.7fr;
        width: 90vw; 
        background: #00695c;
        justify-content: center;
        grid-gap: 1em;
        font-size: 1.5em;
        padding-top: 0.5em;
        margin-top: 0.5em;
        margin-bottom: 0.5em;
        margin-left: auto;
        margin-right: auto;
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
        //line-height: 5vh; // Aligning text vertically centered
    }
    
    #image{
        grid-area: img;
        //display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 0.5em;
        width: 90vw;
        height: 35vh;
    }
    
    .holder{
        grid-area: main;
        justify-content: center;
        padding: 0.5em;
        height: 2fr;
        margin-left: auto;
        margin-right: auto;
    }
    
    button{
        grid-area: btn;
        width: 50vw;
        height: 10vh;
        background: #3b4a6b;
        color: #f0d43a;
        font-size: 1em;
        font-family: 'Oswald', sans-serif;
        border: none;
        box-shadow: 2px 4px 5px #444;
        border-radius: 1em;
        margin-left: auto;
        margin-right: auto;
        margin-top: 0.5em;
        margin-bottom: 0.5em;
    }
    
    button:hover{
        background-color: rgb(104,114,130);
        transition: ease 0.3s all;
    }
    
    .entry{
        grid-area: ft;
        background: rgba(59, 74, 107, .4);
        margin-bottom: 0.5em;
        height: 2fr;
        margin-top: 1.5em;
        margin-left: 0.5em;
        margin-right: 0.5em;
        padding: 0.5em;
    } 
}

@media(min-width:1024px){
    #app{
        display: grid;
        grid-template-rows: auto auto auto auto;
        /* grid-template-columns:  */
        grid-template-columns: 1fr 1fr;
        // height:100vh;
        //background: #f23557;
        background: #EDF2F1;
        color: rgb(93,50,14);
        justify-content: center;
        //grid-gap: 1em;
        font-size: 1em;
        font-family: Arial, Helvetica, sans-serif;
        grid-template-areas: 
       "hd hd"
       "main img"
       "btn btn"
       "ft ft";
    }
    
    .headline {
        grid-area: hd;
        //display: grid;
        //grid-auto-rows: minmax(25px);
        /* grid-template-columns:  */
        //grid-template-columns: 100%;
        height:7vh;
        width: 90vw; 
        background: #00695c;
        justify-content: center;
        grid-gap: 1em;
        font-size: 1.5em;
        padding-top: 0.5em;
        margin: 0.5em;
        margin-left: auto;
        margin-right: auto;
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
        //line-height: 5vh; // Aligning text vertically centered
    }
    
    #image{
        grid-area: img;
        //display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 1em;
        width: 40vw;
        height: 35vh;
        border: 1px solid #3b4a6b; 
        box-shadow: 5px 10px rgba(59, 74, 107, .4);
    }
    
    .holder{
        grid-area: main;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 1.5em;
        height: 2fr;
        margin-top: 1em;
        margin-bottom: 1em;
        width: 40vw;
        border: 1px solid #3b4a6b; 
        box-shadow: 5px 10px rgba(59, 74, 107, .4);
        margin-left: auto;
        margin-right: auto;
    }
    
    label{
        grid-area: main;
        //display:block;
        font-size: 1.3em;
        margin-left: 0.5em;
        width: 38vw;
    }
    
    input{
        grid-area: main;
        //display:block;
        width: 70vw;
        height: 5vh;
        background: rgb(67,153,138);
        color: black;
        opacity: 0.7;
        font-size: 1em;
        font-family: 'Oswald', sans-serif;
        border: none;
        padding-left: 0.5em;
        margin-left: 0.5em;
        width: 38vw;
    }

    button{
        grid-area: btn;
        width: 20vw;
        height: 8vh;
        background: #3b4a6b;
        color: #f0d43a;
        font-size: 1.5em;
        font-family: 'Oswald', sans-serif;
        border: none;
        box-shadow: 2px 4px 5px #444;
        border-radius: 1em;
        margin-left: auto;
        margin-right: auto;
        margin-top: 1em;
        margin-bottom: 1em;
    } 

    .entry{
        grid-area: ft;
        background: rgba(59, 74, 107, .4);
        margin-bottom: 0.5em; 
        height: 20vh;
        margin-top: 0.5em;
        padding: 0.5em;
        margin-left: auto;
        margin-right: auto;
        width: 90vw;
    }
}
